<!DOCTYPE html>
<html>

  <head>
    <title>Forgot Password | TM</title>

    <link rel="stylesheet" href="../Asset/css/forgotPasswordStyle.css">
    <link rel="icon" type="image/png" href="../Asset/imgs/defaultImg (1).png">

  </head>

  <body>
    <div class="fp-container">
      <form id="fpForm">
        <h2>Forgot Password</h2>
        <p>Please enter your email or phone number to reset your password</p>

        <div class="input-group">
          <label for="fpInput">Email or Phone</label>
          <input type="text" id="fpInput" required />
        </div>

        <button type="submit">Submit</button>

        <p class="message" id="fpMessage"></p>
      </form>
    </div>
    <a href="..//view/loginPage.html">Home</a>
    <script src="../Asset/js/forgotPassword.js"></script>
  </body>

</html>