<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login - Role Based Access</title>
  <link rel="stylesheet" href="..//Asset/css/loginPageStyle.css">
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form action="carDashboard.html" method="post"  id="loginForm">

      <label for="email">Email:</label>
      <input type="email" id="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" required>

      <button type="submit">Login</button>
    </form>

    <div class="links">
      <a href="../view/forgotPasswordPage.html">Forgot Password?</a>
      <a href="..//view/signupPage.html">Sign Up</a>
      <a href="..//view/contactUs.html">Contact Us</a>
    </div>

    <p id="message"></p>
  </div>



 
</body>
</html>
