<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pickup Locations</title>
  <link rel="stylesheet" href="..//Asset/css/pickupLocations.css">
</head>
<body>
  <div class="pickup-container">
    <h2>Find a Pickup Location</h2>

    <input type="text" id="search-box" placeholder="Enter city or airport name...">
    <button onclick="searchBranch()">Search</button>

    <div id="results"></div>
  </div>

  <script src="..//Asset/js/pickupLocations.js"></script>
</body>
</html>
